* {
    margin: 0;
    padding: 0;
}

.pageError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;
    margin: 89px 0;
    @media (max-width: 767px) {
        gap: 113px;
        margin: 63px 0 89px 0;        
    }
    .h1, .h2, .navBackHome {    
        font-family: 'Montserrat', sans-serif;
        color: #ff6060;
        text-align: center;
    }
    .h1 {
        font-size: 288px;
        font-weight: 700;
        @media (max-width: 767px) {
            font-size: 96px;        
        }
    }
    .h2 {
        font-size: 36px;
        @media (max-width: 767px) {
            font-size: 18px;        
        }
    }
    .navBackHome {
        font-size: 18px;
        color: #000000;
        @media (max-width: 767px) {
            font-size: 14px;        
        }
    }
}
