* {
    margin: 0;
    padding: 0;
}

.gallery {
    max-width: 1140px;
    min-height: auto;
    border-radius: 25px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    margin: 0 100px;
}


/**************************/
/*** Version responsive ***/
/***** Media queries ******/

/* Medium devices (Landscape phone to portrait tablet, less than 767px) */
@media (max-width: 767px) {    
    .gallery {        
        justify-content:center;
        gap: 27px;
        padding: 27px 0;
        margin: 0 50px;
    }
}

/* Small devices (Landscape phones and down, less than 480px) */
@media (max-width: 480px) {

    .gallery {
        background-color: white;
        padding-top: 7px;
        padding-bottom: 7px;
    }

}