
body {
    width: 100vw;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    margin-bottom: 50px;
}

.headerImg {
    margin-left: 100px;
}

.headerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 309px;
    gap: 37px;
    margin-right: 100px;
}

.navHome, .navAbout {
    width: 136px;
    text-align: end;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 24px;
}

.navHome {
    text-decoration: underline;
}


main {
    width: 100vw;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: black;
    color: white;
    margin-top: 50px;
}

.footerImg {
    padding-top: 66px;
}

.footerTxt {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 50px 0 29px 0;
}

.fa-copyright {
    font-size: 20px;
}

/**************************/
/*** Version responsive ***/
/***** Media queries ******/

/* Medium devices (Landscape phone to portrait tablet, less than 767px) */
@media (max-width: 767px) {

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        margin-bottom: 27px;
    }

    .headerImg {
        margin-left: 50px;
        height: 47px;
    }

    .headerNav {
        justify-content: end;
        width: 190px;
        gap: 10px;
        margin-right: 50px;
    }

    .navHome, .navAbout {
        width: 55px;
        text-align: end;
        font-size: 12px;
    }

    .footer {
        margin-top: 27px;
    }

    .footerImg {
        padding-top: 66px;
    }

    .footerTxt {
        width: 134px;
        font-size: 12px;
        text-align: center;
        padding: 17px 0 63px 0;
    }

    .fa-copyright {
        font-size: 10px;
    }
}

/* Small devices (Landscape phones and down, less than 480px) */
@media (max-width: 480px) {

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        margin-bottom: 27px;
    }

    .headerImg {
        margin-left: 20px;
        height: 47px;
    }

    .headerNav {
        justify-content: end;
        width: 190px;
        gap: 10px;
        margin-right: 20px;
    }

    .navHome, .navAbout {
        width: 55px;
        text-align: end;
        font-size: 12px;
    }


    .footer {
        margin-top: 27px;
    }

    .footerImg {
        padding-top: 66px;
    }

    .footerTxt {
        width: 134px;
        font-size: 12px;
        text-align: center;
        padding: 17px 0 63px 0;
    }

    .fa-copyright {
        font-size: 10px;
    }
}