$main-font: 'Montserrat', sans-serif;
$font-white: white;
$full-screen: 100vw;

@mixin flexbox-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: $full-screen;
    padding: 0;
    margin: 0;
    font-family: $main-font;

    #root {
        @include flexbox-column-center;

        main {
            width: $full-screen;
            @include flexbox-column-center;
            @media (max-width: 480px) {
                @include flexbox-column-center;
            }
        }

    }
    
}
