.banner, .bannerImg {
    height: 223px;
}

.banner {
    border-radius: 25px;
    background-color: black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 100px 50px 100px;
}

.bannerImg {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    margin: 0;
}

.bannerTxt {
    display: flex;
    position: relative;
    top: -228px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    width: auto;
    height: 100%;
    padding: 0 20px;
}


/**************************/
/*** Version responsive ***/
/***** Media queries ******/

/* Medium devices (Landscape phone to portrait tablet, less than 767px) */
@media (max-width: 767px) {

    .banner, .bannerImg {
        max-height: 130px;
    }

    .banner {
        margin: 0 50px 50px 50px;
        box-shadow: none;
    }
    
    .bannerTxt {
        text-align: left;
        font-size: 24px;
        top: -136px;
        left: 0;
        right: 0;    
    }
}

/* Small devices (Landscape phone to portrait tablet, less than 480px) */
@media (max-width: 480px) {

    .banner, .bannerImg {
        max-height: 111px;
    }
    
    .banner {
        width: 335px;
        margin: 0 20px 20px 20px;
    }

    .bannerTxt {
        top: -116px;
        padding: 0;
        margin: 0 50px;
    }
}