.banner, .bannerImg {
    height: 223px;
    @media (max-width: 767px) {
        max-height: 130px;
    }
    @media (max-width: 480px) {
        max-height: 111px;
    }
}

.banner {
    width: 87%;
    max-width: 1240px;
    border-radius: 25px;
    background-color: black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 38px 0;
    @media (max-width: 767px) {
        margin: 0 50px 38px 50px;
        box-shadow: none;
    }
    @media (max-width: 480px) {
        min-width: 335px;
        margin: 0 20px 20px 20px;
    }
    .bannerImg {
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        margin: 0;
    }
    .bannerTxtContainer {
        width: auto;
        height: 100%;
        position: relative;
        top: -228px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 767px) {
            top: -136px;
        }
        @media (max-width: 480px) {
            top: -116px;
        }
        .bannerTxt {
            max-width: 745px;
            height: min-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            margin: 0 40px;
            @media (max-width: 767px) {
                margin: 0 30px;
            }
            @media (max-width: 480px) {
                margin: 0 20px;
            }
            .bannerTxt1, .bannerTxt2 {
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                font-size: 48px;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                color: white;
                @media (max-width: 767px) {
                    font-size: 30px;
                }
                @media (max-width: 480px) {
                    font-size: 24px;
                }
            }
            .bannerTxt1 {
                margin-right: 20px;
            }
        }
    }
}
